@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
	--color-primary: #2563eb; /* #1d4ed8 */
	--color-complementary: #f97316;
	--color-accent: #10b981;
	--color-neutral-white: #ffffff;
	--color-neutral-white-2: #fbfbfe;
	--color-neutral-black: #090909;

	/* support colors */
	--color-success: #ef4444;
	--color-danger: hsl(40, 60%, 47%);
	--color-warning: hsl(0, 60%, 47%);
	--color-error: #ef4444;
	--color-info: hsl(240, 60%, 47%);

	--font-title: 'Montserrat';
	--font-body: 'Open Sans', 'serif';
	--font-test: 'Mona Sans', 'serif';
}
